body {
    background: seashell;
    font-family: "Poiret One", cursive;
    font-size: 20px;
}

header, h1, h2, h3, h4 {
    color: darkturquoise;
    font-family: "Lobster", cursive;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

a {
    color:turquoise;
    text-decoration: none;
    font-family: "Lobster Two", cursive;
    font-size: 30px;
}

.cards {
    padding: 2px 16px;
    display: flex;
    flex-direction: column-reverse;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    border: darkgray double 2px;
    border-radius: 10px;
    background: papayawhip;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-nav {
    display: flex;
    flex-direction: column-reverse;
    float: right;
}