{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}" />{% endblock %}
{% block title %}Articles{% endblock %}

{% block content %}

<div class="cards">
    {% for article in articles %}
    <div class="card">
        <header><a href="{% url 'articles:detail' pk=article.pk %}"><h3>{{ article.headline }}</h3></a></header>
        <div class="card-copy">
            {% if article.content|wordcount <= 5 %}
                {{ article.content }}
            {% else %}
                {{ article.content|truncatewords:5 }}
                <a href="{% url 'articles:detail' pk=article.pk %}">Read More</a>
            {% endif %}
            <div>Created on: {{ article.created_at|date:"d/m/y" }}</div>
        </div>
    </div>
    {% endfor %}
    <div>If you have any comments on the articles, please send them to: {{ email|urlize }}</div>
</div>
{% endblock %}
