{% extends "layout.html" %}
{% load humanize %}
{% load article_extras %}

{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}" />{% endblock %}

{% block title %}{{ article.headline }}{% endblock %}

{% block content %}
<article>
    <h2>{{ article.headline }}</h2>
    {{ article.content|linebreaks }}

    <section>
        <p><b>Want more background to this article? Take a look at the following {{ article.background_set.all|length }} background article{{ article.background_set.count|pluralize}}: {{ article.background_set.all|join:", " }}</b></p>
        
        {% for background in article.background_set.all %}
            <h3><a href="{% url 'articles:background' article_pk=background.article.pk background_pk=background.pk %}">{{ background.headline }}</a></h3>
            {% with con=background.content %}
                <b> Content: {{ con|wordcount }} words. Estimated time to read: {{ con|wordcount|time_estimate }} minute{{ con|wordcount|time_estimate|pluralize }}</b>
            {% endwith %}
        {% endfor %}
    </section>

</article>
{% endblock %}