{% extends "layout.html" %}
{% load static from staticfiles %}
{% load article_extras %}

{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}" />{% endblock %}

{% block title %}{{ background.headline }} - {{ background.article.headline }}{% endblock %}

{% block content %}
<article>
    <h3>{{ background.headline }}</h3>

    {% with con=background.content %}
        {{ con|linebreaks }} <b>Content: {{ con|wordcount }} words. Estimated time to read: {{ con|wordcount|time_estimate }} minute{{ con|wordcount|time_estimate|pluralize }}</b>
    {% endwith %}

</article>
{% endblock %}