{% load static from staticfiles%}
{% load article_extras %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Poiret+One" rel="stylesheet">
        {% block static %}{% endblock %}
    </head>
    <body>
        <div class="site-container">
            <div class="article-nav">{% nav_articles_list %}</div>
            <nav>
                <a href="{% url 'index' %}"><h4>Home</h4></a>
                <a href="{% url 'articles:list' %}"><h4>Articles</h4></a>
            </nav>
            </p><b>Don't miss our latest article, {% latest_article %}!</b></p>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>